<!DOCTYPE html>
<html>

<head>
  <h1 class="title">
    NodePop
  </h1>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <% anuncios.forEach(function(anuncios){ %>

      <div class="carta">
        <dt>
          <img src="<%= anuncios.foto %>" alt="">
        </dt>
        <dt>
          <b>
            <%= anuncios.nombre %>
              <p></p>
          </b>
        </dt>
        <dd>
          <% if (anuncios.venta) { %>
            Venta
            <% } else { %>
              Busco
              <% } %>
        </dd>
        <dd>
          <%= anuncios.precio %> €
        </dd>
        <dd>
          Tags: <%= anuncios.tags %>
        </dd>
      </div>
      <% }) %>

  </div>
</body>

</html>